<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />      
    </startup>

  <appSettings>
    <add key="Cook" value="D:\Навчання\2 курс\Лабораторні ТРПЗ\Лабораторна робота №1\New_OrderMakingApp\OMA\OMA\CooksInformtaion.txt"/>
    <add key="Dish" value="D:\Навчання\2 курс\Лабораторні ТРПЗ\Лабораторна робота №1\New_OrderMakingApp\OMA\OMA\MenuInformtaion.txt"/>
  </appSettings>
  
</configuration>